DeMarker_Indi_DeMarker_Applied_Price={{ applied_price | replace("(ENUM_APPLIED_PRICE)", "") | int | default(0) }}
DeMarker_Indi_DeMarker_MA_Method={{ ma_method | default(0) }}
DeMarker_Indi_DeMarker_Period,1=4
DeMarker_Indi_DeMarker_Period,2=4
DeMarker_Indi_DeMarker_Period,3=24
DeMarker_Indi_DeMarker_Period,F=1
DeMarker_Indi_DeMarker_Period={{ period | default(4) }}
DeMarker_SignalOpenFilterMethod=1
DeMarker_TickFilterMethod=1
