DeMarker_Indi_DeMarker_Period,1=4
DeMarker_Indi_DeMarker_Period,2=4
DeMarker_Indi_DeMarker_Period,3=24
DeMarker_Indi_DeMarker_Period,F=1
DeMarker_Indi_DeMarker_Period={{ (period | default(0) | int) }}
DeMarker_Indi_DeMarker_Shift={{ shift | default(0) }}
DeMarker_LotSize={{ lot_size | default(0) }}
DeMarker_PriceStopMethod=0
DeMarker_SignalOpenFilterMethod=1
DeMarker_SignalOpenLevel={{ (signal_open_level | default(0) | replace("(float)", "") | float) }}
DeMarker_TickFilterMethod=1
